body {
  margin: 0;
  padding: 0;
  width: 100%;
  animation: gradientAnimation 6s infinite alternate;
  background: linear-gradient(135deg, #f1e5d4, #f5ccaa, #4b1f0a);
  background-size: 200% 200%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header {
  width: 100%;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 4rem;
  color: #4b1f0a;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin: 2rem 0;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.links {
  background-color: #8a5a2b;
  height: 9vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.links a {
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  transition: font-size 0.4s ease, text-shadow 0.3s ease;
}

.gallery {
    width: 90%;
    gap: 15px; 
    margin-top: 3rem;
}

.gallery img {
    width: 440px; 
    height: 300px;
    object-fit: cover; 
    border-radius: 15px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    transition: transform 0.7s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.15); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); 
}

.parallax {
    position: relative;
    background-image: url('../img/parallax.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    z-index: -1; 
}

.container1 {
  margin: 20px;
}

.container1 h2 {
  font-size: 2.5rem;
  color: #4b1f0a;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  margin: 15px;
}

.container1 p {
  font-family: "Lora", serif;
  color: #333333;
  font-size: 1.3rem;
  text-align: center;
  margin: 10px;
  width: 60vw;
}

.container2 {
  width: 90vw;
  gap: 20px;
  border-radius: 10px;
  border: 5px solid #4b1f0a;
  padding: 20px;
  background-color: #d9c4a1;
  opacity: 0.9;
  margin-top: 5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container2 h2 {
  font-size: 2.5rem;
  color: #4b1f0a;
  font-family: "Roboto Slab", serif;
  text-align: center;
  text-transform: uppercase;
}

.container2 p {
    font-family: "Lora", serif;
    color: #333333;
    font-size: 1.3rem;
    text-align: center;
    margin: 10px;
    width: 60vw;
  }

  .container2 img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10%;
    border: 9px solid #4b1f0a; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

.form-mensagem input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 1.2rem;
}

button {
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.4rem;
  background-color: #9c3e32;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

button:hover {
    background-color: #f9f9f9; 
    color: #4b1f0a;
    transform: scale(1.1);
    box-shadow: 0 8px 20px #ff6f61; 
}

footer {
  width: 100%;
  background-color: #8a5a2b;
  color: white;
  margin-top: 5rem;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.4rem;
  box-shadow: 0 2px 8px rgba(14, 9, 9, 0.2);
}

#peru {
  user-select: none;
  font-size: 10rem;
  cursor: pointer;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}
